@import url(footer.css);

body
{
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

header
{
    background-color: #006A84;
    padding: 15px;
    box-shadow: white;
}

header li
{
    display: inline;
    padding-left: 45px;
}

header li a
{
    color: white;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;

}

header li a:hover
{
    color:#F7DD32 ;
      
}

header ul #Plan a
{
    color: #006a84;
    background-color: #F7DD32;
    padding: 33px;
}

h4 {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 30.5%;
    color: #000000;;
    font-size: 25px;
}

h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #006A84;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
}


.startdate
{
    margin-right: 450px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #006a84;
}

.enddate
{
    margin-top: -30px;
    margin-left: 220px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #006a84;
}

.box1 {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(223, 217, 217);
    margin-top: -5px;
    margin-right: 190px;
    padding-left: 20px;
    padding-right: 30px;
    border: 1px solid #777;
    outline: none;
}

.box2{
     width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(223, 217, 217);
    padding-left: 20px;
    padding-right: 30px;
    border: 1px solid #777;
    outline: none;
}

.box2{
    margin-left: -40px;
}

.img2{
    padding-left: 50px;
}

.pre{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #006a84;
    font-size: 25px;
    margin-right: 780px;
}

.cus{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #006a84;
    font-size: 25px;
    margin-top: -60px;
    margin-left: 230px;
}

